@using webapp_fakestore.Models
@model FakeSearchResult

@{
	ViewData["Title"] = "FS - Clothing";
}

<h1 class="display-1">@(Model == null ? "0" : Model.Products.Count()) results</h1>
<p class="lead">Search query: @Model?.Query</p>

@if (Model?.Products.Count() > 0)
{
	<div class="bg-info-subtle p-2 mb-2">
		<span class="fs-4">Filters</span>
	</div>
	<div class="flex-fill d-flex flex-column gap-2">
		@foreach (FakeProductModel item in Model.Products)
		{
			<div class="bg-light p-2 observer-target shadow">
				<h6 class="display-6 text-break">@item.Name</h6>
				<p>@item.Description</p>
				<p class="lead">@item.Price</p>
				<p class="text-muted">@item.ProductCategory</p>
			</div>
		}
	</div>
}